<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml"></html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="../css/reset.css" rel="stylesheet" />
    <link href="../css/iconfont.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/management.js"></script>
    <title>路线管理</title>
    <script type="text/javascript">
        // th:inline="javascript">
        var getrouteNum;

        function getRouteNum(obj) {
            getrouteNum = $(obj).attr("routeNum");
            $.ajax({
                type: "post",
                url: "selRoute",
                cache: true,
                datatype: "json",
                data:{
                    getrouteNum:getrouteNum,
                },
                success: function (data) {
                    document.getElementById("departurePlace1").value = data.departurePlace;
                    document.getElementById("arrivalPlace1").value = data.arrivalPlace;
                    document.getElementById("minPrice1").value = data.minPrice;
                },
                error: function () {
                }
            });

        }
        function insertRoute() {
            var routeNum = document.getElementById("routeNum").value;
            var departurePlace = document.getElementById("departurePlace").value;
            var arrivalPlace = document.getElementById("arrivalPlace").value;
            var minPrice = document.getElementById("minPrice").value;
            var reg1 = /\D/g;
            var reg2 = /[^\d.]/g;
            if(routeNum!=""&&departurePlace!=""&&arrivalPlace!=""&&minPrice!=""){
                if(reg1.test(routeNum)==false){
                    if(reg2.test(minPrice)==false) {
                        $.ajax({
                            type: "post",
                            url: "insertRoute",
                            cache: true,
                            datatype: "json",
                            data:{
                                routeNum:routeNum,
                                departurePlace:departurePlace,
                                arrivalPlace:arrivalPlace,
                                minPrice:minPrice
                            },
                            success: function (data) {
                                if(data==1){
                                    alert("路线编号已存在");
                                }else {
                                    window.location.href = 'inRouteManagement';
                                }
                            },
                            error: function () {
                            }
                        });
                    }else {
                        alert("最低价格只能输入只能为数字");
                    }
                }else{
                    alert("路线编号只能为数字且不能输入小数点");
                }
            }else {
                alert("输入不能有空");
            }
        }

        function updateRoute() {
            // var routeNum = document.getElementById("routeNum1").value;
            var departurePlace = document.getElementById("departurePlace1").value;
            var arrivalPlace = document.getElementById("arrivalPlace1").value;
            var minPrice = document.getElementById("minPrice1").value;
            var reg1 = /\D/g;
            var reg2 = /[^\d.]/g;
            if(departurePlace!=""&&arrivalPlace!=""&&minPrice!=""){
                if(reg2.test(minPrice)==false) {
                    $.ajax({
                        type: "post",
                        url: " updateRoute",
                        cache: true,
                        datatype: "json",
                        data:{
                            getrouteNum:getrouteNum,
                            // routeNum:routeNum,
                            departurePlace:departurePlace,
                            arrivalPlace:arrivalPlace,
                            minPrice:minPrice
                        },
                        success: function (data) {
                            window.location.href = 'inRouteManagement';
                        },
                        error: function () {
                        }
                    });
                }else {
                    alert("最低价格只能输入只能为数字");
                }
            }else {
                alert("输入不能有空");
            }
        }

        function delRoute(obj) {
            var msg = "确定要删除本条路线吗？";
            var routeNum = $(obj).attr("routeNum");
            if(confirm(msg)==true){
                $.ajax({
                    type: "post",
                    url: "delRoute",
                    cache: true,
                    datatype: "json",
                    data:{
                        routeNum:routeNum,
                    },
                    success: function (data) {
                        window.location.href = 'inRouteManagement';
                    },
                    error: function () {
                    }
                });
            }
        }

        function selRoute() {
            var routeNum =  document.getElementById("selRoute").value;
            if(routeNum!=""){
                $.ajax({
                    type: "post",
                    url: "selRoute",
                    cache: true,
                    datatype: "json",
                    data:{
                        routeNum:routeNum,
                    },
                    success: function (data) {
                        if(data!=""){
                            window.location.href = "redirect:inRouteManagement1(routeNum,1)"
                        }
                    },
                    error: function () {
                    }
                });
            }else {
                alert("输入不能为空");
            }
        }

        function selOneRoute() {
            var routeNum = document.getElementById("selRouteNum").value;
            if (routeNum != ""){
                $.ajax({
                    type: "post",
                    url: "selOneRoute",
                    cache: true,
                    datatype: "json",
                    data:{
                        routeNum:routeNum
                    },
                    success: function (data) {
                        if(data == "1"){
                            alert("要查询的车票信息不存在");
                        }else {
                            window.location.href = 'inOneRouteManagemrnt';
                        }
                    },
                    error: function () {
                    }
                });
            }else {
                alert("请输入路线编号");
            }
        }
    </script>
</head>
<body>
<div class="PublicHead clearfix">
    <div class="leftBox clearfix">
<!--        <div class="companyLogo">-->
<!--            <img src="images/logo.jpg" />-->
<!--        </div>-->
        <!--<i class="iconfont icon-caidan Js_MenuList"></i>-->

        <div class="companyText">
            购票系统后台管理系统
        </div>
    </div>
    <div class="RightBox clearfix">
        <div class="UserPhotoBox">
            <div class="UserPic">
<!--                <img src="images/user.jpg" />-->
            </div>
            <div class="UserName">
                欢迎管理员进入
            </div>
        </div>
        <a href="../index/inLogin">
            <div class="dropOutBox">
                <i class="iconfont icon-app_icons--">
                </i>
                <span>退出</span>
            </div>
        </a>
    </div>
</div>

<div class="PublicDownWhole clearfix">
    <!--左侧-->
    <div class="leftBox">
        <ul>
            <a href="inManagement"> <li><i class="iconfont "></i><span>售票所得情况</span></li></a>
            <a href="../admainManagement.html"> <li class=""><i class="iconfont"></i><span>登入密码修改</span></li></a>
            <a href="inOrderManagement">
                <li><i class="iconfont"></i><span>订单管理</span></li>
            </a>
            <a href="inNoticeManagement">
                <li><i class="iconfont "></i><span>公告管理</span></li>
            </a>
            <a href="inRouteManagement">
                <li class="Select"><i class="iconfont "></i><span>路线管理</span></li>
            </a>
            <a href="inTicketManagement">      <li><i class="iconfont"></i><span>车票管理</span></li></a>
        </ul>
    </div>
    <!--右侧-->
    <div class="RightBox Js_RightBox">
        <div class="PublicContentBox">
            <!--公用指向页面名字-->
            <div class="PublicPointToAgeText">
                <span class="span1">路线管理</span>
            </div>
            <!--查询-->
            <div class="InquireBox clearfix">
                <div class="InquireleftBox">
                    <div class="Text">路线号：</div>
                    <div class="InputDiv">   <input id="selRouteNum" class="phoneInput" placeholder="请输入你需要查询的路线号" /></div>
                </div>
                <div class="PublicBtnIcon Color1Btn fr" onclick="selOneRoute()">
                    <i class="iconfont icon-icon-chaxun"></i>
                    <span>查询</span>
                </div>
            </div>
            <!--表修改-->
            <div class="InquireTableBox">
                <div class="headbox">
                    <div class="headboxtext">
                        <span class="span1">后台路线管理列表</span>
                    </div>
                    <!--批量删除-->
                    <div class="PublicBtnIcon Color5Btn">
                        <i class="iconfont  icon-shanchu"></i>
<!--                        <span>批量删除</span>-->
                    </div>

                    <div class="PublicBtnIcon Color2Btn fr Js_edit">
                        <i class="iconfont icon-changyongtubiao-mianxing-"></i>
                        <span>添加</span>
                    </div>
                </div>

                <!--查询到的表格-->

                <div class="InquireSelectTable">
                    <table class="PublicTableCss">
                        <thead>
                        <tr>
<!--                            <td>-->
<!--                                <input id="inputcheck" class="inputcheck" type="checkbox" name="inputcheck" />-->
<!--                                <label for="inputcheck"></label>-->
<!--                                <span>全选</span>-->
<!--                            </td>-->
                            <td>路线编号</td>
                            <td>出发地</td>
                            <td>到达地</td>
                            <td>最低价格</td>
                            <td>操作</td>
                        </tr>

                        </thead>
                        <tbody>
                        <tr th:each="route:${pageInfo.list}">
<!--                            <td>-->
<!--                                <input id="aa" class="inputcheck" type="checkbox" name="inputcheck" />-->
<!--                                <label for="aa"></label>-->
<!--                            </td>-->
                            <td id="num" th:text="${route.routeNum}"></td>
                            <td th:text="${route.departurePlace}"></td>
                            <td th:text="${route.arrivalPlace}"></td>
                            <td th:text="${route.minPrice}"></td>
                            <td>

                                <div class="PublicTableBtnIcon Color3Btn Js_edit1" th:routeNum="${route.routeNum}" onclick="getRouteNum(this)">
                                    <i class="iconfont icon-tubiaozhizuomobanyihuifu-"></i>
                                    <span>编辑</span>
                                </div>

                                <div class="PublicTableBtnIcon Color4Btn Js_delete" th:routeNum="${route.routeNum}" onclick="delRoute(this)">
                                    <i class="iconfont icon-shanchu"></i>
                                    <span>删除</span>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!--分页-->
                <div class="PageNumber">
                    <div class="NumbersBox">
                        <a th:href="@{'inRouteManagement?pageNo='+${pageInfo.firstPage}}" class="LeftArrow">首页</a>
                        <th:block th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="@{'inRouteManagement?pageNo='+${pageInfo.prePage}}" class="LeftArrow">上一页</a>
                        </th:block>
                        <ul>
                            <tr th:each="nav : ${pageInfo.navigatepageNums}">
                                <li><a th:href="@{'inRouteManagement?pageNo='+${nav}}" th:text="${nav}"></a></li>
                            </tr>
                        </ul>
                        <a th:href="@{'inRouteManagement?pageNo='+${pageInfo.lastPage}}" class="RightArrow ">尾页</a>
                        <th:block th:if="${pageInfo.hasNextPage}">
                            <a th:href="@{'inRouteManagement?pageNo='+${pageInfo.nextPage}}" class="RightArrow "> 下一页</a>
                        </th:block>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- alert通用 提示是否删除-->
<!--<div class="PublicFloatBox f_delete">-->
<!--    <div class="f_MiddleBox wid260">-->
<!--        <div class="f_Head">-->
<!--            <span>提示消息</span>-->
<!--            <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>-->
<!--        </div>-->
<!--        <div class="f_content clearfix">-->
<!--            &lt;!&ndash;提示消息内容&ndash;&gt;-->
<!--            <div class="f_someText">-->
<!--                <i class="iconfont icon-tishi"></i>-->
<!--                <span>确定删除此信息？</span>-->
<!--            </div>-->
<!--            &lt;!&ndash;按钮&ndash;&gt;-->
<!--            <div class="f_pormatBtn  clearfix">-->
<!--                <div class="f_pormatBtn1" onclick="delRoute()">-->
<!--                    确定-->
<!--                </div>-->
<!--                <div class="f_pormatBtn2">-->
<!--                    删除-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--添加用户浮层-->
<div class="PublicFloatBox add">
    <div class="f_MiddleBox wid400">
        <div class="f_Head">
            <span>添加路线</span>
            <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>
        </div>
        <div class="f_content">
            <div class="f_alonediv">
                <div class="f_alone_name">
                    路线编号:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="routeNum" />
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    出发地:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="departurePlace"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    到达地:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="arrivalPlace"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    最低价格:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="minPrice"/>
                </div>
            </div>

            <div class="f_alonediv1">
                <div class="f_alone_name">
                </div>
                <div class="f_alone_input1">
                    <!--publicbtn-->
                    <div class="publicf_btn">
                        <div class="publicf_btn1" onclick="insertRoute()">
                            确定
                        </div>
                        <div class="publicf_btn2 fr Js_closeBtn">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--修改路线浮层-->
<div class="PublicFloatBox update">
    <div class="f_MiddleBox wid400">
        <div class="f_Head">
            <span>修改路线</span>
            <i class="Js_closeBtn1 iconfont icon-buoumaotubiao20 fr"></i>
        </div>
        <div class="f_content">
<!--            <div class="f_alonediv">-->
<!--                <div class="f_alone_name">-->
<!--                    路线编号:-->
<!--                </div>-->
<!--                <div class="f_alone_input">-->
<!--                    <input class="f_p_input" id="routeNum1" />-->
<!--                </div>-->
<!--            </div>-->
            <div class="f_alonediv">
                <div class="f_alone_name">
                    出发地:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="departurePlace1"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    到达地:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="arrivalPlace1"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    最低价格:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="minPrice1"/>
                </div>
            </div>

            <div class="f_alonediv1">
                <div class="f_alone_name">
                </div>
                <div class="f_alone_input1">
                    <!--publicbtn-->
                    <div class="publicf_btn">
                        <div class="publicf_btn1" onclick="updateRoute()">
                            确定
                        </div>
                        <div class="publicf_btn2 fr Js_closeBtn1">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--返回顶部-->
<!--<a href="javaScript:void();" class="back-to-top"><i class="iconfont icon-fanhuidingbu"></i> </a>-->
</body>
</html>