<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml"></html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="../css/reset.css" rel="stylesheet" />
    <link href="../css/iconfont.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/management.js"></script>
    <title>车票管理</title>
    <script type="text/javascript">
        // th:inline="javascript">
        var getflightNumber;
        var flightNumber;
        var day;

        function getFlightNumber(obj) {
            getflightNumber = $(obj).attr("flightNumber");
            $.ajax({
                type: "post",
                url: "selTicket",
                cache: true,
                datatype: "json",
                data:{
                    getflightNumber:getflightNumber,
                },
                success: function (data) {
                    document.getElementById("time1").value = data.time;
                    document.getElementById("departureStation1").value = data.departureStation;
                    document.getElementById("arrivalStation1").value = data.arrivalStation;
                    document.getElementById("vehicleType1").value = data.vehicleType;
                    document.getElementById("duration1").value = data.duration;
                    document.getElementById("price1").value = data.price;
                    document.getElementById("mileage1").value = data.mileage;
                },
                error: function () {
                }
            });
        }

        function insertTicket() {
            var flightNumber = document.getElementById("flightNumber").value;
            var routeNum = document.getElementById("routeNum").value;
            var time = document.getElementById("time").value;
            var departureStation = document.getElementById("departureStation").value;
            var arrivalStation = document.getElementById("arrivalStation").value;
            var vehicleType = document.getElementById("vehicleType").value;
            var duration = document.getElementById("duration").value;
            var price = document.getElementById("price").value;
            var mileage = document.getElementById("mileage").value;
            var reg1 = /\D/g;
            var reg2 = /[^\d.]/g;
            if(flightNumber!=""&&routeNum!=""&&time!=""&&departureStation!=""&&arrivalStation!=""&&
                vehicleType!=""&&duration!=""&&price!=""&&mileage!=""){
                if(reg1.test(routeNum)==false){
                    if(reg2.test(price)==false) {
                        $.ajax({
                            type: "post",
                            url: "insertTicket",
                            cache: true,
                            datatype: "json",
                            data:{
                                flightNumber:flightNumber,
                                routeNum:routeNum,
                                time:time,
                                departureStation:departureStation,
                                arrivalStation:arrivalStation,
                                vehicleType:vehicleType,
                                duration:duration,
                                price:price,
                                mileage:mileage,
                            },
                            success: function (data) {
                                if(data==1){
                                    alert("班次号已存在");
                                }else {
                                    window.location.href = 'inTicketManagement';
                                }
                            },
                            error: function () {
                            }
                        });
                    }else {
                        alert("价格只能输入只能为数字");
                    }
                }else{
                    alert("路线编号只能为数字且不能输入小数点");
                }
            }else {
                alert("输入不能有空");
            }
        }

        function updateTicket() {
            // var flightNumber = document.getElementById("flightNumber").value;
            // var routeNum = document.getElementById("routeNum").value;
            var time = document.getElementById("time1").value;
            var departureStation = document.getElementById("departureStation1").value;
            var arrivalStation = document.getElementById("arrivalStation1").value;
            var vehicleType = document.getElementById("vehicleType1").value;
            var duration = document.getElementById("duration1").value;
            var price = document.getElementById("price1").value;
            var mileage = document.getElementById("mileage1").value;
            var reg1 = /\D/g;
            var reg2 = /[^\d.]/g;
            if(time!=""&&departureStation!=""&&arrivalStation!=""&&
                vehicleType!=""&&duration!=""&&price!=""&&mileage!=""){
                    if(reg2.test(price)==false) {
                        $.ajax({
                            type: "post",
                            url: "updateTicket",
                            cache: true,
                            datatype: "json",
                            data:{
                                getflightNumber:getflightNumber,
                                time:time,
                                departureStation:departureStation,
                                arrivalStation:arrivalStation,
                                vehicleType:vehicleType,
                                duration:duration,
                                price:price,
                                mileage:mileage,
                            },
                            success: function (data) {
                                window.location.href = 'inTicketManagement';
                            },
                            error: function () {
                            }
                        });
                    }else {
                        alert("价格只能输入只能为数字");
                    }
            }else {
                alert("输入不能有空");
            }
        }

        function delTicket(obj) {
            var msg = "确定要删除这张车票吗？";
            var flightNumber = $(obj).attr("flightNumber");
            if(confirm(msg)==true){
                    $.ajax({
                    type: "post",
                    url: "delticket",
                    cache: true,
                    datatype: "json",
                    data:{
                        flightNumber:flightNumber,
                    },
                    success: function (data) {
                        window.location.href = 'inTicketManagement';
                    },
                    error: function () {
                    }
                });
            }
        }

        function selTicNum() {
            flightNumber = document.getElementById("selnum").value;
            day = document.getElementById("seltime").value;
            if(flightNumber!=""&&day!=""){
                $.ajax({
                    type: "post",
                    url: "selTicketNum",
                    cache: true,
                    datatype: "json",
                    data:{
                        flightNumber:flightNumber,
                        day:day,
                    },
                    success: function (data) {
                        document.getElementById("ticketNumber").value = data.ticketNumber;
                        document.getElementById("ticketState").value = data.state;
                    },
                    error: function () {
                    }
                });
            }else{
                alert("输入不能有空");
            }
        }

        function upTicketNum() {
            var ticketNumber = document.getElementById("ticketNumber").value;
            var state = document.getElementById("ticketState").value;
            if(ticketNumber!=""&&ticketState!=""){
                $.ajax({
                    type: "post",
                    url: "upTicketNum",
                    cache: true,
                    datatype: "json",
                    data:{
                        flightNumber:flightNumber,
                        day:day,
                        ticketNumber:ticketNumber,
                        state:state,
                    },
                    success: function (data) {
                        flightNumber=null;
                        day=null
                        window.location.href = 'inTicketManagement';
                    },
                    error: function () {
                    }
                });
            }else{
                alert("输入不能有空");
            }
        }

        function selOneTicket() {
            var flightNumber = document.getElementById("selFlightNumber").value;
            if (flightNumber != ""){
                $.ajax({
                    type: "post",
                    url: "selOneTicket",
                    cache: true,
                    datatype: "json",
                    data:{
                        flightNumber:flightNumber
                    },
                    success: function (data) {
                        if(data == "1"){
                            alert("要查询的车票信息不存在");
                        }else {
                            window.location.href = 'inOneTicketManagement';
                        }
                    },
                    error: function () {
                    }
                });
            }else {
                alert("请输入班次号");
            }
        }
    </script>
</head>
<body>
<div class="PublicHead clearfix">
    <div class="leftBox clearfix">
        <!--        <div class="companyLogo">-->
        <!--            <img src="images/logo.jpg" />-->
        <!--        </div>-->
        <!--<i class="iconfont icon-caidan Js_MenuList"></i>-->

        <div class="companyText">
            购票系统后台管理系统
        </div>
    </div>
    <div class="RightBox clearfix">
        <div class="UserPhotoBox">
            <div class="UserPic">
                <!--                <img src="images/user.jpg" />-->
            </div>
            <div class="UserName">
                欢迎管理员进入
            </div>
        </div>
        <a href="../index/inLogin">
            <div class="dropOutBox">
                <i class="iconfont icon-app_icons--">
                </i>
                <span>退出</span>
            </div>
        </a>
    </div>
</div>

<div class="PublicDownWhole clearfix">
    <!--左侧-->
    <div class="leftBox">
        <ul>
            <a href="inManagement"> <li><i class="iconfont "></i><span>售票所得情况</span></li></a>
            <a href="inAdmainManagement"> <li class=""><i class="iconfont "></i><span>登入密码修改</span></li></a>
            <a href="inOrderManagement">
                <li><i class="iconfont "></i><span>订单管理</span></li>
            </a>
            <a href="inNoticeManagement">
                <li><i class="iconfont "></i><span>公告管理</span></li>
            </a>
            <a href="inRouteManagement">
                <li><i class="iconfont "></i><span>路线管理</span></li>
            </a>
            <a href="inTicketManagement">      <li  class="Select"><i class="iconfont "></i><span>车票管理</span></li></a>
        </ul>
    </div>
    <!--右侧-->
    <div class="RightBox Js_RightBox">
        <div class="PublicContentBox">
            <!--公用指向页面名字-->
            <div class="PublicPointToAgeText">
                <span class="span1">车票管理</span>
            </div>
            <!--查询-->
            <div class="InquireBox clearfix">
                <div class="InquireleftBox">
                    <div class="Text">班次号：</div>
                    <div class="InputDiv">   <input id="selFlightNumber" class="phoneInput" placeholder="请输入要查询的班次号" /></div>
                </div>
                <div class="PublicBtnIcon Color1Btn fr" onclick="selOneTicket()">
                    <i class="iconfont icon-icon-chaxun"></i>
                    <span>查询</span>
                </div>
            </div>
            <div class="InquireBox clearfix">
                <div class="InquireleftBox">
                    <div class="Text">票数和状态的查询并更改&nbsp;&nbsp;</div>
                    <div class="Text">班次号：</div>
                    <div class="InputDiv">   <input  class="phoneInput" id="selnum" placeholder="请输入要更改班次号号" /></div>
                </div>
                <div class="InquireleftBox">
                    <div class="Text">日期：</div>
                    <div class="InputDiv">   <input class="phoneInput" id="seltime" placeholder="请输入要更改的日期" /></div>
                </div>
                <div class="PublicBtnIcon Color1Btn fr" onclick="selTicNum()">
                    <i class="iconfont icon-icon-chaxun"></i>
                    <span class="Js_edit2">查询</span>
                </div>
            </div>
            <!--表修改-->
            <div class="InquireTableBox">
                <div class="headbox">
                    <div class="headboxtext">
                        <span class="span1">车票管理列表</span>
                    </div>
                    <!--批量删除-->
                    <div class="PublicBtnIcon Color5Btn">
                        <i class="iconfont icon-shanchu"></i>
<!--                        <span>批量删除</span>-->
                    </div>

                    <div class="PublicBtnIcon Color2Btn fr Js_edit">
                        <i class="iconfont icon-changyongtubiao-mianxing-"></i>
                        <span>添加</span>
                    </div>
                </div>

                <!--查询到的表格-->

                <div class="InquireSelectTable">
                    <table class="PublicTableCss">
                        <thead>
                        <tr>
<!--                            <td>-->
<!--                                <input id="inputcheck" class="inputcheck" type="checkbox" name="inputcheck" />-->
<!--                                <label for="inputcheck"></label>-->
<!--                                <span>全选</span>-->
<!--                            </td>-->
                            <td>班次号</td>
                            <td>路线编号</td>
                            <td>发车时间</td>
                            <td>出发站</td>
                            <td>到达站</td>
                            <td>车型</td>
                            <td>历时</td>
                            <td>价格</td>
                            <td>里程</td>
                            <td>操作</td>
                        </tr>

                        </thead>
                        <tbody>
                        <tr th:each="ticket:${pageInfo.list}">
<!--                            <td>-->
<!--                                <input id="aa" class="inputcheck" type="checkbox" name="inputcheck" />-->
<!--                                <label for="aa"></label>-->
<!--                            </td>-->
                            <td th:text="${ticket.flightNumber}"></td>
                            <td th:text="${ticket.routeNum}"></td>
                            <td th:text="${ticket.time}"></td>
                            <td th:text="${ticket.departureStation}"></td>
                            <td th:text="${ticket.arrivalStation}"></td>
                            <td th:text="${ticket.vehicleType}"></td>
                            <td th:text="${ticket.duration}"></td>
                            <td th:text="${ticket.price}"></td>
                            <td th:text="${ticket.mileage}"></td>
                            <td>
                                <div class="PublicTableBtnIcon Color3Btn Js_edit1" th:flightNumber="${ticket.flightNumber}" onclick="getFlightNumber(this)">
                                    <i class="iconfont icon-tubiaozhizuomobanyihuifu-"></i>
                                    <span>编辑</span>
                                </div>

                                <div class="PublicTableBtnIcon Color4Btn Js_delete" th:flightNumber="${ticket.flightNumber}" onclick="delTicket(this)">
                                    <i class="iconfont icon-shanchu"></i>
                                    <span>删除</span>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!--分页-->
                <div class="PageNumber">
                    <div class="NumbersBox">
                        <a th:href="@{'inTicketManagement?pageNo='+${pageInfo.firstPage}}" class="LeftArrow">首页</a>
                        <th:block th:if="${pageInfo.hasPreviousPage}">
                            <a th:href="@{'inTicketManagement?pageNo='+${pageInfo.prePage}}" class="LeftArrow">上一页</a>
                        </th:block>
                        <ul>
                            <tr th:each="nav : ${pageInfo.navigatepageNums}">
                               <li><a th:href="@{'inTicketManagement?pageNo='+${nav}}" th:text="${nav}"></a></li>
                            </tr>
                        </ul>
                        <a th:href="@{'inTicketManagement?pageNo='+${pageInfo.lastPage}}" class="RightArrow ">尾页</a>
                        <th:block th:if="${pageInfo.hasNextPage}">
                            <a th:href="@{'inTicketManagement?pageNo='+${pageInfo.nextPage}}" class="RightArrow "> 下一页</a>
                        </th:block>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- alert通用 提示是否删除-->
<!--<div class="PublicFloatBox f_delete">-->
<!--    <div class="f_MiddleBox wid260">-->
<!--        <div class="f_Head">-->
<!--            <span>提示消息</span>-->
<!--            <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>-->
<!--        </div>-->
<!--        <div class="f_content clearfix">-->
<!--            &lt;!&ndash;提示消息内容&ndash;&gt;-->
<!--            <div class="f_someText">-->
<!--                <i class="iconfont icon-tishi"></i>-->
<!--                <span>确定删除此信息？</span>-->
<!--            </div>-->
<!--            &lt;!&ndash;按钮&ndash;&gt;-->
<!--            <div class="f_pormatBtn  clearfix">-->
<!--                <div class="f_pormatBtn1" onclick="delRoute()">-->
<!--                    确定-->
<!--                </div>-->
<!--                <div class="f_pormatBtn2">-->
<!--                    删除-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--添加车票浮层-->
<div class="PublicFloatBox add">
    <div class="f_MiddleBox wid400">
        <div class="f_Head">
            <span>添加车票</span>
            <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>
        </div>
        <div class="f_content">
            <div class="f_alonediv">
                <div class="f_alone_name">
                    班次号:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="flightNumber" />
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    路线编号:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="routeNum"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    发车时间:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="time"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    始发站:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="departureStation"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    到达站:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="arrivalStation" />
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    车型:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="vehicleType"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    历时:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="duration" />
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    价格:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="price"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    里程:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="mileage"/>
                </div>
            </div>

            <div class="f_alonediv1">
                <div class="f_alone_name">
                </div>
                <div class="f_alone_input1">
                    <!--publicbtn-->
                    <div class="publicf_btn">
                        <div class="publicf_btn1" onclick="insertTicket()">
                            确定
                        </div>
                        <div class="publicf_btn2 fr Js_closeBtn">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--修改车票浮层-->
<div class="PublicFloatBox update">
    <div class="f_MiddleBox wid400">
        <div class="f_Head">
            <span>修改车票</span>
            <i class="Js_closeBtn1 iconfont icon-buoumaotubiao20 fr"></i>
        </div>
        <div class="f_content">
<!--            <div class="f_alonediv">-->
<!--                <div class="f_alone_name">-->
<!--                    班次号:-->
<!--                </div>-->
<!--                <div class="f_alone_input">-->
<!--                    <input class="f_p_input" id="flightNumber1" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="f_alonediv">-->
<!--                <div class="f_alone_name">-->
<!--                    路线编号:-->
<!--                </div>-->
<!--                <div class="f_alone_input">-->
<!--                    <input class="f_p_input" id="routeNum1"/>-->
<!--                </div>-->
<!--            </div>-->
            <div class="f_alonediv">
                <div class="f_alone_name">
                    发车时间:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="time1"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    始发站:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="departureStation1"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    到达站:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="arrivalStation1" />
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    车型:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="vehicleType1"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    历时:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="duration1" />
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    价格:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="price1"/>
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    里程:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="mileage1"/>
                </div>
            </div>

            <div class="f_alonediv1">
                <div class="f_alone_name">
                </div>
                <div class="f_alone_input1">
                    <!--publicbtn-->
                    <div class="publicf_btn">
                        <div class="publicf_btn1" onclick="updateTicket()">
                            确定
                        </div>
                        <div class="publicf_btn2 fr Js_closeBtn1">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--票数和状态的更改-->
<div class="PublicFloatBox updateTic">
    <div class="f_MiddleBox wid400">
        <div class="f_Head">
            <span>更改票数和状态</span>
            <i class="Js_closeBtn2 iconfont icon-buoumaotubiao20 fr"></i>
        </div>
        <div class="f_content">
            <div class="f_alonediv">
                <div class="f_alone_name">
                    票数:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="ticketNumber" />
                </div>
            </div>
            <div class="f_alonediv">
                <div class="f_alone_name">
                    状态:
                </div>
                <div class="f_alone_input">
                    <input class="f_p_input" id="ticketState"/>
                </div>
            </div>

            <div class="f_alonediv1">
                <div class="f_alone_name">
                </div>
                <div class="f_alone_input1">
                    <!--publicbtn-->
                    <div class="publicf_btn">
                        <div class="publicf_btn1" onclick="upTicketNum()">
                            更改
                        </div>
                        <div class="publicf_btn2 fr Js_closeBtn2">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--返回顶部-->
<!--<a href="javaScript:void();" class="back-to-top"><i class="iconfont icon-fanhuidingbu"></i> </a>-->
</body>
</html>